.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/lib
test/coverage
mean.iml
/public/build/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
